{% extends "layout.html" %}

{% block content %}
        <h1>Choose a game from the list to find other people who play the game.</h1>
<form method = "POST" action = "/info2">
					<table>
					
          <select name="game">
            <option>df</option>
          {% for entry in games %}
            
            <option>{{entry['title']}}</option>
            
          {% endfor %}
          </select>
          </td></tr>
            
          <tr><td>&nbsp;</td><td><input type="submit" value="Find Gamers" /></td></tr>
					</table>
					
					</form>
{% endblock %}
